{% extends "layout.html" %} 

{% block body %}
<div>
    <div class="posizione">
        
        
        <h1>Via San Francesco d'Assisi, 75, 70122, Bari, Italia</h1>


        <div class="googlemaps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d751.3405110771682!2d16.863941039647333!3d41.12662186554794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1347e99db3be2821%3A0xe186c4554f032728!2sTyche%20-%20L&#39;aperitivo%20urbano!5e0!3m2!1sit!2sit!4v1694343513103!5m2!1sit!2sit" width="500px" height="500px" style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>
    <div>
        ALTRI CONTATTI
    </div>


</div>





{% endblock %}