{% extends "layout.html" %} 

{% block body %}
<div>
   
   <div class="contmenu">
        <div class="titolo">
            <section class="titolosezione"> <!-- TITOLO-->
                <h1>
                    LA NOSTRA CUCINA
                </h1>
            </section>
        </div>



<!-- IMMAGINI riga 1-->
        <div class="riga">
            <div class="coldx">
                <img src="../static/DSC02327.jpg" class="cibi">
            </div>
            <div class="colsx descrizioni descrizionidx">
                <h1>NOME PIATTO</h1>
                <p>DESCRIZIONE PIATTO</p>
            </div>
            <div style="clear:both"></div>
        </div>
        
<!-- IMMAGINI riga 2-->
        <div class="riga">
            <div class="coldx descrizioni descrizionidx">
                <h1>NOME PIATTO</h1>
                <p>DESCRIZIONE PIATTO</p>
            </div>
            <div class="colsx">
                <img src="../static/DSC02327.jpg" class="cibi">
            </div>
            <div style="clear:both"></div>
        </div>
        
<!-- IMMAGINI riga 3-->

        <div class="riga">
            <div class="coldx">
                <img src="../static/DSC02327.jpg" class="cibi">
            </div>
            <div class="colsx descrizioni descrizionidx">
                <h1>NOME PIATTO</h1>
                <p>DESCRIZIONE PIATTO</p>
            </div>
            <div style="clear:both"></div>
        </div>
        
<!-- IMMAGINI riga 4-->

        <div class="riga">
            <div class="coldx descrizioni descrizionidx">
                <h1>NOME PIATTO</h1>
                <p>DESCRIZIONE PIATTO</p>
            </div>
            <div class="colsx">
                <img src="../static/DSC02327.jpg" class="cibi">
            </div>
            <div style="clear:both"></div>
        </div>
        
<!-- IMMAGINI riga 5-->

        <div class="riga">
            <div class="coldx">
                <img src="../static/DSC02327.jpg" class="cibi">
            </div>
            <div class="colsx descrizioni descrizionidx">
                <h1>NOME PIATTO</h1>
                <p>DESCRIZIONE PIATTO</p>
            </div>
            <div style="clear:both"></div>
        </div>
        
<!-- IMMAGINI riga 6-->

        <div class="riga">
            <div class="coldx descrizioni descrizionidx">
                <h1>NOME PIATTO</h1>
                <p>DESCRIZIONE PIATTO</p>
            </div>
            <div class="colsx">
                <img src="../static/DSC02327.jpg" class="cibi">
            </div>
            <div style="clear:both"></div>
        </div>
        



    
    
   </div>
   
  









</div>





{% endblock %}